[mysqld]
port=3306
datadir=data
socket=/tmp/mysql.sock
bind-address=127.0.0.1

# Character Set
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Performance
max_connections=100
innodb_buffer_pool_size=128M

# Logging
log_error=mysql_error.log
